
div, p, li, ul{
    margin: 0;
    padding: 0;
}

.app .console{
    border: 1px solid grey;
    padding: 5px;
    max-height: 100px;
    overflow: auto;
}

.app .console p{
    font-size: 11px;
    margin: 2px 0;
}

#canvas{
    display: block;
    margin: 20px auto;
    width: 500px;
    height: 500px;
    max-width: 100%;
    outline: 1px solid grey;
}
